<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>問い合わせ入力画面</title>
</head>
<body>
<h1>問い合わせ入力画面</h1>
<form action="/transactions/confirm" method="post" th:object="${TransactionsForm}">
	<div class ="inputArea">
		<label for="monthDto">対象月</label>
		<select th:field="*{monthDto}" id="monthDto" name="monthDto">
			<option th:each="monthOption : ${monthList}" th:value="${monthOption.code}" th:text="${monthOption.value}"></option>
        </select>
	</div>
	<div class ="inputArea">
		<label for="monthDto">収支区分</label>
		<select th:field="*{paymentsDto}" id="paymentsDto" name="paymentsDto">
			<option th:each="payMentsOption : ${payMentsList}" th:value="${payMentsOption.code}" th:text="${payMentsOption.description}"></option>
	    </select>
	</div>
	<div class ="inputArea">
		<label for="contentDto">問い合わせ内容</label>
		<input type="text" th:field="*{contentDto}" id="contentDto" name="contentDto" @placeholder="内容を入力してください"/>
		<div th:if="${#fields.hasErrors('contentDto')}" th:errors="*{contentDto}" class="error"></div>
	</div>
	<div class ="inputArea">
		<label for="amountDto">金額</label>
        <input type="number" th:field="*{amountDto}" id="amountDto" name="amountDto" @placeholder="金額を入力してください"/>
        <div th:if="${#fields.hasErrors('amountDto')}" th:errors="*{amountDto}" class="error"></div>
	</div>
	<input type="submit" class="btn btn-primary"  value="確認画面へ"/>
</form>
</body>
</html>